*{
  padding:0;
  margin :0;
  box-sizing: border-box;
 
}
.navbar{
  padding:30px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;

}
.slotmachine{
  /* display: grid;
  place-items: center; */
  /* align-items: center;
  justify-content: center ; */
  border: 2px solid rgb(200, 196, 196);
  width:10cm;
  height:11.6cm;
}
section{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h3,h1{
  text-align: center;
}
body{
  background-color: black;
  height: 100vh;
  width: 100%;
}
.Matching{
  color:#fff;
}
.NotMatch{
  color:rgb(243, 129, 165);
}